<table>
  <thead>
    <tr>
        <th>Lottery Number</th>
        <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "user_lottery", collection: @user_lottery %>
  </tbody>
</table>